<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>token</th>
      <th>activated</th>
      <th>redeemed</th>
      <th>QrCode</th>
    </tr>
  </thead>
  <tbody>
    <% discounts.forEach( function(model) { %>
        <tr>
        	<td><%=model.number%></td>
        	<td style="max-width: 200px; overflow-wrap: break-word;"><%=model.token%></td>
        	<td><%=model.activated%></td>
        	<td><%=model.redeemed%></td>
        	<td><img src="<%=model.QrCode%>"><img></td>
        </tr>
    <% }); %>
  </tbody>
</table>