<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>token</th>
      <th>discount</th>
      <th>origin</th>
      <th>target</th>
      <th>activated</th>
      <th>redeemed</th>
      <th>QrCode</th>
    </tr>
  </thead>
  <tbody>
    <% discounts.forEach( function(model) { %>
        <tr>
        	<td><%=model.number%></td>
        	<td class="token"><%=model.token%></td>
        	<td><%=model.discount%></td>
        	<td><%=model.origin_shop%></td>
        	<td><%=model.target_shop%></td>
        	<td><%=model.activated%></td>
        	<td><%=model.redeemed%></td>
        	<td><img src="<%=model.QrCode%>"><img></td>
        </tr>
    <% }); %>
  </tbody>
</table>